<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/teepublic/image/private/s--miQTngFE--/t_Preview/b_rgb:191919,c_limit,f_auto,h_313,q_90,w_313/v1506061196/production/designs/1922955_1"/>

    <title>BOOLEAN OPERATORS (2) </title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
     <script src="script.js"></script>
    <a href ="/" style="color:white; !important"><h1 style="text-align:center;"><u><img src="https://res.cloudinary.com/teepublic/image/private/s--miQTngFE--/t_Preview/b_rgb:191919,c_limit,f_auto,h_313,q_90,w_313/v1506061196/production/designs/1922955_1" width="60px" height="60px" style="border-radius:9px;margin-top: 3px;margin-right: 10px;">My Revision Notes For Python</u></h1></a>
    <p>AUTHOR: AMR ELSAEED 10C</p>
    <h2> You can edit the code part below and run it!</h2>

    <iframe height="600px" width="100%" src="https://repl.it/@Deniernal354/bo2?lite=true" scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
  </body>
</html>